# LangChain core + community (deben tener la MISMA versión)
langchain==0.2.10
langchain-community==0.2.10

# HuggingFace inference
transformers==4.38.2
requests==2.31.0

# Audio: voz
pyttsx3==2.90
pyaudio==0.2.13
vosk==0.3.45
